.animalCard {
  min-width: 11em;
  min-height: 15em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5em;
  margin: 0.1em;
  cursor: pointer;
  box-shadow: 0 0 0.2em #000;
}
.animalCard:hover {
  box-shadow: 0 0 0.5em #000;
}
.animalCard h3 {
  text-decoration: underline;
  text-align: center;
  margin: 0.1em;
}
.animalCard h4 {
  margin: 0.1em;
}
.animalCard p {
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}
.animalCard img {
  margin: 4px;
  width: auto;
  height: auto;
  border-radius: 0.5em;
}