_ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  color-scheme: light dark;
  color: rgba(199, 196, 196, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
