.animalCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 0.5em;
  margin: 0.1em;
}
.animalCard h3 {
  text-decoration: underline;
  text-align: center;
  margin: 0.1em;
}
.animalCard h4 {
  margin: 0.1em;
}
.animalCard p {
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}